{% extends 'base.html' %}
{% block import %}
<script src="/static/js/likepost.js/"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% for p in post %}
        <div class="row mt-3" style="justify-content: center; border-bottom: 2px solid #606060;">
            <div class="">
                <p><a href="/userpage/{{p.0.user.id}}/" class="name"><img src="{{p.0.user.avatar.url}}" class="avatar"> {{p.0.user.username}}</a></p>
                <a href="/post/{{p.0.id}}"><img src="{{p.0.imege.url}}" class="imgpost"></a>
                <p class="my-3"><img {% if p.1 == 0 %} src="/static/icons/like.png"{% else %} src="/static/icons/a_like.png" {% endif%} class="likepost" id="{{p.0.id}}"><img src="/static/icons/comment.png" class="likepost mx-3"><img src="/static/icons/save.png" class="likepost mx-3"> </p>
                <p class="text-white my-2"><b id="likes{{p.0.id}}">{{p.2}}</b> likes</p>
                <p class="text-white"><a href="/userpage/{{p.0.user.id}}/" class="name">{{p.0.user.username}}</a> {{p.0.text}}</p>
            </div>  
        </div>
    {% endfor %}
</div>

{% endblock %}