{% extends 'base.html' %}
{% block import %}
<script src="/static/js/like.js"></script>
<script src="/static/js/coment.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <p class="text-white"><a href="/userpage/{{p.0.user.id}}/" class="name"><img src="{{p.0.user.avatar.url}}" class="avatar"> {{p.0.user.username}}</a></p>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center" >
            <img src="{{post.imege.url}}">
        </div>
    </div>
    <div class="row" >
       <p> {% if Liked == 1 %}
        <img id="Like" class="likepost" src="/static/icons/a_like.png">
        {% else %}
        <img id="Like" class="likepost" src="/static/icons/like.png">
        {% endif %}
        <img src="/static/icons/comment.png" class="likepost mx-3"><img src="/static/icons/save.png" class="likepost mx-3"> </p>
    </div>
    <div class="row">
        <p class="text-white"><b id="Nlike">{{NLike}}</b> likes</p>
    </div>
    <div class="row">
        <p class="text-white"><a href="/userpage/{{post.user.id}}/" class="name">{{post.user.username}}</a> {{post.text}}</p> 

    </div>
</div>

<div class="container">
    <div class="row mx-3">
    <input id="text" placeholder="Add coment" class="coment">
    <button data-url="/post/{{post.id}}/" id="Button" class="button ">Submit</button>
    </div>
<div id="div" class="my-3">
{% for q in coment %}
    <p class="text-white"><img src="{{q.0.user.avatar.url}}" class="avatar">  <a href="/userpage/{{q.0.user.id}}/" class="name">{{q.0.user.username}}</a></p>
    <p class="text-white">{{q.0.text}}</p>
    {% if q.1 == 0 %}
    <img id="{{q.0.id}}" data-like="dislike" class="LikeCom likecoment" src="/static/icons/like.png/">
    {% else %}
    <img id="{{q.0.id}}" data-like="liked" class="LikeCom likecoment" src="/static/icons/a_like.png">
    {% endif %}
    <p id="likes{{q.0.id}}">{{q.2}}</p>
    
    {% endfor %}


</div>
</div>

{% endblock %}


